.overall{
    width: 100%;
    height: 100%;
}
.height70{
    width: 100%;
    height: 70%;
}
.height50{
    width:100%;
    height: 40%;
}
.height30{
    width:100%;
    height:30%;
}
.width50{
    width: 50%
}